.passwordMessage {
  margin-top: 10px;
  text-align: center;
}
.loginAndSignUpMessage {
  margin-top: 10px;
  text-align: center;
}

.loginAndSignUpMessage div {
  margin-top: 20px;
  margin-bottom: -5px;
}
.formTitle {
  text-align: center;
}
.terms {
  color: #f48fb1;
  cursor: pointer;
}
.caution {
  width: 200px;
  margin: auto;
}
.socialLogin {
  margin-top: 20px;
}
.socialButtons {
  margin-top: 10px;
}
.socialButton {
  cursor: pointer;
}
