.areaTitle {
  padding-bottom: 20px;
  color: #f48fb1;
}
.answerArea {
  margin-bottom: -10px;
}
.answerArea > * {
  margin: 10px 0;
}
.answerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.userArea {
  display: flex;
  align-items: center;
}
.userName {
  margin-left: 10px;
}
.date {
  padding-right: 5px;
}
.likeAndAnswerArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
