.consultationArea {
  padding: 10px;
}
.consultationArea > * {
  margin: 10px 0;
}
.consultationTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.userArea {
  display: flex;
  align-items: center;
}
.userName {
  margin-left: 10px;
}
.date {
  padding-right: 5px;
}
.consulTitle {
  display: inline-block;
  margin: 0;
}
.consulTitle:hover {
  color: #f48fb1;
  transition: 0.2s;
  cursor: pointer;
}

.goodButtonArea {
  display: flex;
  align-items: center;
}
.goodCount {
  margin-left: 5px;
}
.numberOfAnswerArea {
  display: flex;
  align-items: center;
}
.answerCount {
  margin-left: 5px;
}
.category {
  display: inline-block;
  color: #fff;
  margin: 0 0;
  padding: 3px 5px;
  border-radius: 5px;
}
.goodAndAnswer {
  display: flex;
  align-items: center;
}
.goodAndAnswer > * {
  margin-right: 15px;
}
.goodAndSolution {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.solution {
  color: red;
  border: red solid 1px;
  padding: 3px 5px;
  border-radius: 5px;
}
.noSolution {
  color: #000;
  border: #000 solid 1px;
  padding: 3px 5px;
  border-radius: 5px;
}
