.photoArea {
  text-align: center;
}
.croppedImageArea {
  display: inline-block;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}
.croppedImage {
  border-radius: "50%";
}
.inputArea {
  text-align: center;
}
.labelWord {
  display: inline-block;
  color: #f48fb1;
  cursor: pointer;
}
.input {
  display: none;
}
