.area {
  height: 420px;
  width: 300px;
}
.cropContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 180px;
}

.controls {
  position: absolute;
  bottom: 90px;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  height: 70px;
}
.button {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  width: 220px;
  margin: auto;
}
