.navList {
  display: flex;
  justify-content: center;
  text-align: initial;
  padding-left: 0;
}
.navList li {
  margin: 0 5px;
  margin-bottom: 20px;
  width: 150px;
  text-align: center;
}

@media (max-width: 800px) {
  .navList {
    display: block;
    margin-bottom: 30px;
  }
  .navList li {
    margin: 15px auto;
  }
}
