.container {
  padding: 10px 20px 20px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}
.titleAndAnswer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 10px;
}
.title {
  font-size: 1.5rem;
  max-width: 600px;
}
.answerArea {
  margin-top: 3px;
}
.categoryAndSolution {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.dateAndUserArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.userArea {
  display: flex;
  align-items: center;
}
.name {
  margin-left: 10px;
}
.content {
  line-height: 2;
  white-space: pre-wrap;
  word-break: break-all;
  margin: 20px 0;
}
.likeAndSupplementArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.likeButtonArea {
  display: flex;
  align-items: center;
}
.answerButtonArea {
  text-align: center;
  margin-top: 20px;
}
