.container {
  padding: 10px 20px 20px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}
.areaTitle {
  padding-bottom: 20px;
  color: #f48fb1;
}
.answerArea {
  margin-bottom: -10px;
}
.answerArea > * {
  margin: 10px 0;
}
.answerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.userArea {
  display: flex;
  align-items: center;
}
.userName {
  margin-left: 10px;
}
.date {
  padding-right: 5px;
}
.content {
  line-height: 2;
  white-space: pre-wrap;
  word-break: break-all;
}
.likeAndAnswerArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.commentArea {
  margin-top: 20px;
  margin-left: 20px;
}
.comment {
  border: 1px #f48fb1 solid;
  color: #f48fb1;
  display: inline-block;
  padding: 3px 5px;
  border-radius: 5px;
}
.commentTop {
  display: flex;
  align-items: center;
}
.commentDate {
  margin-left: 10px;
}
.commentContent {
  margin: 5px 0 20px 10px;
  padding-bottom: 30px;
  padding-left: 10px;
  line-height: 2;
  white-space: pre-wrap;
  word-break: break-all;
  border-left: #e0e0e0 5px solid;
}
.iconArea {
  display: flex;
  align-items: center;
}
.moreButtonArea {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
