.dataArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.rank {
  font-weight: bold;
  padding: 8px;
}
.contentArea {
  display: flex;
  align-items: center;
}
.contentArea > * {
  margin-right: 5px;
}
.name {
  font-weight: bold;
  font-size: 0.8rem;
  max-width: 130px;
}
.title {
  max-width: 180px;
}
.pointArea {
  min-width: 40px;
  text-align: center;
}
.count {
  font-weight: bold;
  font-size: 1.1rem;
}
.label {
  font-size: 0.6rem;
}
