.supplementArea {
  margin: 20px 0 20px 20px;
}
.supplement {
  border: 1px #f48fb1 solid;
  color: #f48fb1;
  display: inline-block;
  padding: 3px 5px;
  border-radius: 5px;
}
.content {
  line-height: 2;
  white-space: pre-wrap;
  word-break: break-all;
  margin-top: 5px;
  margin-left: 10px;
  padding-left: 10px;
  padding-bottom: 30px;
  border-left: #e0e0e0 5px solid;
}
.top {
  display: flex;
  align-items: center;
}
.date {
  margin-left: 10px;
  vertical-align: middle;
}
